name: Dart-CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  test:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1

      - name: Install dependencies
        run: |
          dart pub get
          dart pub global activate coverage

      - name: Check if code is formatted
        run: dartfmt --dry-run --set-exit-if-changed .

      - name: Run analyzer
        run: dart analyze --fatal-infos

      - uses: southpolesteve/cosmos-emulator-github-action@v1
      - name: Run tests
        run: |
          dart test -r expanded --coverage .
          dart test --coverage="coverage"
          format_coverage --lcov --in=coverage --out=coverage.lcov --packages=.packages --report-on=lib

      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
